 body, html {
    height: 100%;
}

.navbar-brand{
  width:400px;
  display: inline-block;
  margin-right: 0px!important;
}

#navbar{
  width: 100%;
  position: fixed;
  z-index: 1;
  background-color: #fff;
  box-shadow: 5px 5px 5px #999; 
     -moz-box-shadow: 2px 2px 2px #999;
     -webkit-box-shadow: 2px 2px 2px #999;
}

.navbar-toggler{
  z-index: 1;
}

#logo{
  height: 10%;
  width: 90%;
  min-width: 225px;
}

#navbarText{
  justify-content: right;
}

.navbar-nav{
  min-width: 400px;
}

.nav-item{
  padding-top, padding-bottom: 0px;
  border-radius: 5px;
  width: 110px;
  text-align: center;
  vertical-align: middle;
  line-height: 20px;
}

.dropdown{
  margin-left: 20px;
  margin-right: 20px;
  padding-top, padding-bottom: 0px;
}

.dropdown-toggle{
  color: #545454;
}

.buttonContent{
  font-family: times;
  font-size: 14px;
  font-weight: bold;
  margin: 0;
  color: #2e3192;
  text-decoration: none;
  position: relative;
  display: block;
  padding: 16px 0;
  line-height: 16px;
  font-weight: 900;
  transition: color 0.1s, background-color 0.1s,padding 0.2s ease-in;
}

.buttonContent:hover{
  color: #2e3192;
}

.buttonContent:hover, .buttonContent:focus, .buttonContent:active {
    text-decoration: none;
}

.buttonContent {
    text-decoration: none;
    transition: color 0.1s, background-color 0.1s;
}

.buttonContent::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 3px;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: #2e3192;
    transform-origin: right top;
    transform: scale(0, 1);
    transition: color 0.1s,transform 0.2s ease-out;
}

.buttonContent:active::before {
    background-color: #2e3192;
}

.buttonContent:hover::before, .buttonContent:focus::before {
    transform-origin: left top;
    transform: scale(1, 1);
}

#copyright {
	font-size: 14px;
	font-family: times; 
}

.fadeIn{
  opacity: 0;
}

.dropdown-menu{
  background-color: rgba(237,237,237,0.85);
}

#mainNav{
  padding: 11px;
  border: 0;
  background-color: rgba(168,168,168,0.85);
  cursor: pointer;
}

#bar1, #bar2, #bar3 {
  width: 20px;
  height: 3px;
  background-color: #f2f2f2;
  margin: 3px 0;
}

.container-page{
  position: relative;
  height: 100vh;
  width: 100%;
  display: table;
  align-items: center;
  padding-top: 100px;
}

#home{
  display: table-cell;

}

#table-cell{
  height: 300px;
  width: 100%;
  padding: 0px;
  overflow: hidden;
  text-align: center;
}

img{
  width: 100%;
  position: relative;
}

.jumbotron{
  position: absolute;
}


#centertext{
  top: 250px;
  left: 0;
  position:absolute;
  text-align:center;
  width: 100%
}

#text-frame{
  background-color: rgba(237,237,237,0.5);
  border-radius: 5px;
  padding: 15px;
  display: inline-block;
}

h1{
  font-family: 'Times New Roman'!important;
  font-size: 30px!important;
  font-weight: bold!important;
  color: #fff!important;
  display: inline!important;
}

h2{
  font-family: 'Times New Roman'!important;
  font-size: 20px!important;
  font-weight: bold!important;
  color: #fff!important;
  display: inline!important;
}

#footer{
  width: 100%;
  vertical-align: bottom;
  height: 100px;
  color: #2e3192;
  z-index: 1;
}

#copyright{
  display: flex;
  justify-content: center;
}

.fa-twitter {
    background: white;
    color: #55ACEE;
	padding-top: 20px;
  padding-bottom: 50px;
	font-size: 50px;
	width: 60px;
	text-align: center;
}

.fa-facebook{
	background: white;
	color:#3B5998;
	padding-top: 20px;
  padding-bottom: 50px;
	font-size: 50px;
	width: 50px;
	text-align: center;
}

.fa-linkedin{
	background: white;
	color:#0077B5;
	padding-top:20px;
  padding-bottom: 50px;
	font-size: 50px;
	width: 50px;
	text-align: center;
}


.fa-youtube{
	background: white;
	color:#cc181e;
	padding-top: 20px;
  padding-bottom: 50px;
	font-size: 50px;
	width: 50px;
	text-align: center;
}

#shareholder{
  position: relative;
}

.custom-file-control:lang(en)::before {
  content: "Browse";
}

.custom-file-control:lang(en)::after {
content: "Choose file...";
}

#confirmation-message {
display: none;
}


.btn {
width: 125px;
}

.custom-file-control:lang(en)::before {
  content: "Browse";
}

.custom-file-control:lang(en)::after {
content: "Choose file...";
}

#confirmation-message {
display: none;
}


.btn {
width: 125px;
}
